<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">Mosquitto MQTT server on %h</name>
  <service>
   <type>_mqtt_websocket._tcp</type>
   <port>18883</port>
   <txt-record>use=homeautomation</txt-record>
  </service>
  <service>
   <type>_mqtt._tcp</type>
   <port>1883</port>
   <txt-record>use=homeautomation</txt-record>
  </service>
</service-group>
