body {
  background: #333;
  color: #bbb;
  font: 300 100.01%/1.2 "Segoe UI", "Helvetica Neue", Helvetica, "Arial Unicode", Arial, sans-serif;
  margin: 0 2%;
}

button-show-content {
  float: left;
  margin: 0.3em;
}

.fa {
  vertical-align: middle;
}

light-switch {
  float: right;
  vertical-align: middle;
  margin: 0.3em;
}

.draw-header {
  background: #444;
  overflow: hidden;
  border: 1px solid;
  margin-bottom: 0;
}

.draw-name {
  float: left;
  margin: 0.3em;
}

.draw-elements {
  width: 96%;
  max-height: 200px;
  background: #444;
  margin-top: 0;
  margin-left: 3em;
  overflow-y: auto;
}

draw-container {
  background: #333;
  width: 96%;
  display: block;
  float: left;
  clear: both;
}

.draw-element-content {
  border: 1px solid;
  overflow: hidden;
}

.element-content {
  float: left;
  margin: 0.3em;
}

#log {
  position: absolute;
  bottom: 0;
}

draw-element {
  clear: both;
}
