body {
  background: #333;
  color: #bbb;
  font: 300 100.01%/1.2 "Segoe UI", "Helvetica Neue", Helvetica, "Arial Unicode", Arial, sans-serif;
  margin: 0 2%;
}

ha-button-show-children {
  float: left;
  margin: 0.3em;
}

.fa {
  vertical-align: middle;
}

.ha-device-icon {
  float: right;
  vertical-align: middle;
  margin: 0.3em;
}

.ha-container-header {
  background: #444;
  overflow: hidden;
  border: 1px solid;
  margin-bottom: 0;
}

.ha-container-name {
  float: left;
  margin: 0.3em;
}

.ha-container-children {
  margin-top: 0;
  margin-left: 3em;
  overflow-y: auto;
  overflow: hidden;
}

.ha-device-content {
  float: left;
  margin: 0.3em;
}

#ha-container-log {
  position: absolute;
  bottom: 0;
  width: 90%;
}

.ha-container-log-content {
  background: #555;
  border: 1px solid;
  padding: 0.3em;
  overflow-y: scroll;
  max-height: 100px;
  font-size: 75%;
}

draw-element {
  clear: both;
}
