html,body {
  height:100%;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

#ha-control-paper {
  height: 100%;
  overflow: hidden;
}

ha-control-heading .container {
  background: grey;
}

ha-control-heading div paper-icon-button {
  color: black;
}

ha-sidebar {
  display: block;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 400px;
  background: ghostwhite;
  position: relative;
  z-index: 99;
  overflow: hidden;
}

ha-sidebar div.container {
  padding-left: 8px;
  padding-right: 8px;
}

[draggable=true] {
  cursor: move;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

ha-sidebar.sidebar-left-align {
  float: left;
}

ha-sidebar.sidebar-right-align {
  float: right;
}


ha-sidebar .sidebar-handle {
  width: 8px;
  height: 100%;
  border-width: 0;
  background: dimgrey;
  position: absolute;
  z-index: 100;
}

ha-sidebar .sidebar-handle-left-align {
  right: 0;
}

ha-sidebar .sidebar-handle-right-align {
  right: 392px;
}

ha-sidebar .sidebar-header {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: inline-block;
  background: linen;
}

ha-sidebar .sidebar-header .text,.object-color {
  display: inline-block;
}

ha-sidebar .object-color {
  float: right;
  background: black;
  border-style: solid;
  border-width: 1px;
  width: 2em;
  height: 2em;
}

ha-transitions select, button, input, input[type=text], input[type=number] {
    font-size: 0.8em;
    padding: 0.1em;
    margin: 0.0em 0.0em;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

ha-transitions button {
  width: 1em;
}

ha-transitions .table-transition {
  border: 1px solid red;
  overflow: auto;
  display: block;
}

ha-transitions .button-spacer {
	width: 100%;
	height: 1.4em;
}

ha-transitions .content-transition {
  display: inline-flex;
}

ha-transitions .control-transition {
  border: 1px solid blue;
}

ha-transitions .control-transition div {
  height: 1.4em;
}

ha-transitions .input-transition {
  border: 1px solid blue;
	max-width: 350px;
}

ha-transitions .input-transition div {
  display: inline-flex;
  white-space: nowrap;
  width: 100%;
	height: 1.4em;
}

ha-transitions .output-transition {
  border: 1px solid blue;
  width: 100%;
}

ha-transitions .output-transition div {
  display: inline-flex;
  white-space: nowrap;
  width: 100%;
	height: 1.4em;
}

ha-topic-chooser input {
  width: 20em;
}

ha-input-attributes div.form, ha-output-attributes div.form {
  margin-left: 2em;
}


ha-input-attributes div.form ha-sample-data div.form-sample-data, ha-output-attributes div.form ha-sample-data div.form-sample-data {
  border: 1px solid blue;
  white-space: nowrap;
  background: lightgrey;
	color: dimgrey;
}
