html,body {
  height:100%;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

ha-control-heading .container {
  background: grey;
}

ha-control-heading div paper-icon-button {
  color: black;
}

#ha-control-paper {
  height: 100%;
  position: absolute;
  width: 100%;
}

#ha-control-sidebar {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 400px;
  padding: 2px;
  position: absolute;
  right: 0;
  background: ghostwhite;
  overflow: auto;
}

#ha-control-sidebar .sidebar-header {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: inline-block;
  background: linen;
}

#ha-control-sidebar .sidebar-header .object-color {
  border-style: solid;
  border-width: 1px;
  width: 1em;
  height: 100%;
  background: black;
  float: right;
  display: inline-block;
}

#ha-control-sidebar .sidebar-header .text {
  float: left;
}

#ha-control-sidebar .sidebar-content {
}

ha-transitions .table-transition {
  border: 1px solid red;
  overflow: auto;
  display: inline-flex;
}

ha-transitions .input-transition {
  border: 1px solid blue;
}

ha-transitions .input-transition div {
  display: inline-flex;
}

ha-transitions .output-transition {
  border: 1px solid blue;
}

ha-transitions .output-transition div {
  display: inline-flex;
}

